{% extends 'imdb/base.html' %}

{% load imdb_extras %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">{{ best_rated_movie.title }}</h1>
        <p class="lead">{{ best_rated_value|own_format_float }}</p>
        <img src="{{ best_rated_movie.poster.url }}" alt="">
    </div>
    <ul>
        {% for movie in movie_list %}
            <li>
                <a href="{% url 'movie-detail' movie.id %}">{{ movie.title }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block extra_js %}
    <script>
        console.log('I\'m in Home')
    </script>
{% endblock %}